header {
    background-blend-mode: hard-light;
    background-color: transparent;
    background-size: cover;
}

.newline{
  white-space: pre-wrap;
}

#portfolio h1{
  font-size: 2rem;
}

.feature-item{
  text-align: center;
  margin-top:2.5em;
  padding-left:2em;
  padding-right:2em;
}

.portfolio-image {
  width: 100%;
  height: 100%;
}

.center{
  text-align: center;
}

.warning{
  color: red;
}

body {
    background: repeating-radial-gradient(#1607ba, #120119)
}